// Styling for the agenda section
section.agenda {
//     color: white;
//     position: relative;
//     padding: 150px 0;
    h2 {
        // font-size: 50px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    @media(min-width: 768px) {
        h2 {
            margin-top: 20px;
            margin-bottm: 60px;
            // font-size: 70px;
        }
    }

    .divider-flag {
        height: 50px;
        width: 100vw;
        margin-top: 40px;
        margin-bottom: 40px;
        transform: skewY(-5deg);
        img {
            height: 100%;
            width: 100%;
        }
    }
}
