// Styling for the masthead
header.masthead {
    position: relative;
    overflow-y: hidden;
    width: 100%;
    min-height: auto;
    color: white;
    background: url('../img/bg-pattern.png'), $theme-secondary;
    background: url('../img/bg-pattern.png'), -webkit-linear-gradient(to left, $masthead-left, $masthead-right);
    background: url('../img/bg-pattern.png'), linear-gradient(to left, $masthead-left, $masthead-right);
    .hero-img {
        width: 90%;
        img {
            width: 100%;
        }
    }
    .header-content {
        position: relative;
        padding: 150px 0 50px;
        text-align: center;
        .header-content-inner {
            position: relative;
            max-width: 500px;
            margin: 0 auto;
            h1 {
                font-size: 30px;
                margin-top: 0;
                margin-bottom: 30px;
            }
        }
    }
    @media (min-width: 768px) {
        min-height: 100%;
        .header-content {
            height: 100vh;
            min-height: 600px;
            padding: 0;
            text-align: left;
            .header-content-inner {
                position: absolute;
                top: 50%;
                max-width: none;
                margin: 0;
                transform: translateY(-50%);
                h1 {
                    font-size: 35px;
                }
            }
        }
    }
    @media (min-width: 992px) {
        .header-content .header-content-inner h1 {
            font-size: 50px;
        }
    }
}
